 <div class="row border-bottom" style="margin-bottom:16px; padding-bottom:10px;" >
    <div class="col-9">
        <div>
          <h4 style="margin-bottom : 5px; color:rgb(155,                 120, 120, 120);">{{job ['title']}}</h4>
        </div>
        <div>
          <b>Location:</b> {{job ['location']}}
        </div>
        <div>
          <b>Salary:</b> {{job ['salary']}}
        </div>
    </div>
   <div class="col-3">
   <a href="/getJobById/{{job['id']}}" type="button" class="btn btn-primary">Job Details </a>
   </div>
 </div>